
.icon-pencil-alt:before { content: '\e800'; } /* '' */
.icon-layers:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-play:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
